# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df = pd.read_csv("heart.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB
None

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [6]:
# loop through the columns and check the missing values
for col in df.columns:
    pct_missing = df[col].isnull().sum()
    print(f'{col} - {pct_missing :.1%}')

age - 0.0%
sex - 0.0%
cp - 0.0%
trtbps - 0.0%
chol - 0.0%
fbs - 0.0%
restecg - 0.0%
thalachh - 0.0%
exng - 0.0%
oldpeak - 0.0%
slp - 0.0%
caa - 0.0%
thall - 0.0%
output - 0.0%

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [10]:
#checking for obvious outliers
df.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [11]:
#Check The Duplicates:
df.duplicated().sum()

1

In [ ]:
#Remove duplicate

In [20]:
df=df.drop_duplicates(keep="first")

In [19]:
#Drop the columns which require more complex inputs to make model user-friendly.
#changing columns names to more understandable term
df.dropna()
df = df.drop(columns = ['oldpeak', 'slp', 'caa', 'thall', 'fbs', 'restecg', 'exng'])
df = df.rename(columns = {'age': 'age', 'sex': 'gender', 'cp': 'chest pain', 'trestbps': 'blood pressure', 'chol': 'cholestrol level', 'thalach': 'max heart rate', })
df.head()

   age  gender  chest pain  trtbps  cholestrol level  thalachh  output
0   63       1           3     145               233       150       1
1   37       1           2     130               250       187       1
2   41       0           1     130               204       172       1
3   56       1           1     120               236       178       1
4   57       0           0     120               354       163       1

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [21]:
#looking for inconsistencies
df.describe()

,age,gender,chest pain,trtbps,cholestrol level,thalachh,output
count,302.00000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000
mean,54.42053,0.682119,0.963576,131.602649,246.500000,149.569536,0.543046
std,9.04797,0.466426,1.032044,17.563394,51.753489,22.903527,0.498970
min,29.00000,0.000000,0.000000,94.000000,126.000000,71.000000,0.000000
25%,48.00000,0.000000,0.000000,120.000000,211.000000,133.250000,0.000000
50%,55.50000,1.000000,1.000000,130.000000,240.500000,152.500000,1.000000
75%,61.00000,1.000000,2.000000,140.000000,274.750000,166.000000,1.000000
max,77.00000,1.000000,3.000000,200.000000,564.000000,202.000000,1.000000

In [25]:
df.value_counts()

age  gender  chest pain  trtbps  cholestrol level  thalachh  output
29   1       1           130     204               202       1         1
59   1       2           150     212               157       1         1
             1           140     221               164       1         1
             0           170     326               140       0         1
                         164     176               90        0         1
                                                                      ..
51   1       0           140     299               173       0         1
                                 298               122       0         1
                                 261               186       1         1
     0       2           140     308               142       1         1
77   1       0           125     304               162       0         1
Length: 302, dtype: int64

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? No, I did not find any inconsistent or irregular data
2. Did the process of cleaning your data give you new insights into your dataset? Only that this is a great dataset; very clean and complete
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations? No concerns